# 1. data cleaning

NZ_Admin from SEEK

In [1]:
import pandas as pd
import numpy as np
import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#remove duplicated contents
#approach 1
def deduplication(x):
    x=x.strip()
    if x == 'None':
        return None  
    return x[:len(x)//2]
#approach 2
def deduplication_impr(x):
    temp = x.strip()
    index = (temp + temp).find(temp,1)
    if index != -1:
        return temp[:index]
    else:
        return temp
#approach 3: regex
def deduplication_regex(x):
    x = x.strip()
    if x == 'None':
        return None
    return re.match(r'(.*)\1',x).group(1)

In [3]:
df_admin = pd.read_csv('datasets/NZ_Admin_JOBS.csv')
print(df_admin.shape)
print(df_admin.dtypes)
df_admin.head()

(2708, 6)
字段1         object
字段1_link    object
字段2         object
字段3         object
字段4         object
字段5         object
dtype: object

,字段1,字段1_link,字段2,字段3,字段4,字段5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [4]:
#rename the columns
df_admin.columns=['job_title', 'job_link', 'job_advertiser', 'location', 'released_time', 'classification']
df_admin.head(3)

,job_title,job_link,job_advertiser,location,released_time,classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...

## missing values

There are three common methods to treat missing values: **deletion, imputation and prediction**. Deletion means deleting the data associated with missing values. We usually use the deletion method when the missing parts are completely at random. When there are known relationships between samples, we can fill in the missing values with imputation or train a prediction model to predict the missing values. Some common models are regression and ANOVA (Sunil, 2016). 

https://blog.csdn.net/A632189007/article/details/76176985

In [5]:
#checking missing value
df_admin.isnull().any()

job_title         False
job_link          False
job_advertiser     True
location          False
released_time     False
classification    False
dtype: bool

In [6]:
#deal with missing value in "job_advertiser"
df_admin.job_advertiser.isnull().sum()
df_admin[df_admin['job_advertiser'].isnull()]

22

,job_title,job_link,job_advertiser,location,released_time,classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...
19,Administrator,https://www.seek.co.nz/job/50604829?type=stand...,NaN,location: ManawatuManawatuarea: Rest of Manawa...,"7d ago,at,Private Advertiser",classification: Administration & Office Suppor...
60,Administrator,https://www.seek.co.nz/job/50582301?type=stand...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"11d ago,at,Private Advertiser",classification: Administration & Office Suppor...
64,ADMINISTRATION SPECIALIST - CONSTRUCTION,https://www.seek.co.nz/job/50638765?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"5h ago,at,Private Advertiser",classification: Administration & Office Suppor...
67,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
71,Administrator,https://www.seek.co.nz/job/50607763?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"6d ago,at,Private Advertiser",classification: Administration & Office Suppor...
95,Export Admin Support,https://www.seek.co.nz/job/50583111?type=stand...,NaN,location: Hawkes BayHawkes Bayarea: HastingsHa...,"11d ago,at,Private Advertiser",classification: Administration & Office Suppor...
135,Executive Assistant,https://www.seek.co.nz/job/50613522?type=stand...,NaN,location: AucklandAucklandarea: Manukau & East...,"5d ago,at,Private Advertiser",classification: Administration & Office Suppor...
187,PERSONAL ASSISTANT - PART TIME,https://www.seek.co.nz/job/50588220?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"10d ago,at,Private Advertiser",classification: Administration & Office Suppor...
215,Time Target Rostering Administrator,https://www.seek.co.nz/job/50572487?type=stand...,NaN,location: WaikatoWaikatoarea: Rest of WaikatoR...,"12d ago,at,Private Advertiser",classification: Administration & Office Suppor...
297,Operations Coordinator - South Island,https://www.seek.co.nz/job/50597654?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"7d ago,at,Private Advertiser",classification: Administration & Office Suppor...
318,Customer Service /Sales/Admin,https://www.seek.co.nz/job/50557862?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"14d ago,at,Private Advertiser","$40,000 - $49,999"
385,Client Liaison,https://www.seek.co.nz/job/50580821?type=stand...,NaN,location: TaranakiTaranakiarea: New PlymouthNe...,"11d ago,at,Private Advertiser",classification: Administration & Office Suppor...
412,Executive Business Coordinator Cadetship - Gra...,https://www.seek.co.nz/job/50621110?type=stand...,NaN,location: AucklandAucklandarea: Manukau & East...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...
437,Receptionist / Office Assistant,https://www.seek.co.nz/job/50508458?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"24d ago,at,Private Advertiser",classification: Administration & Office Suppor...
446,Receptionist,https://www.seek.co.nz/job/50516951?type=stand...,NaN,location: WellingtonWellingtonarea: Hutt Valle...,"22d ago,at,Private Advertiser",classification: Administration & Office Suppor...
470,Personal Assistant / Accounts Administrator,https://www.seek.co.nz/job/50564784?type=stand...,NaN,location: Bay of PlentyBay of Plentyarea: Roto...,"13d ago,at,Private Advertiser",classification: Administration & Office Suppor...
510,Customer Service,https://www.seek.co.nz/job/50532433?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"19d ago,at,Private Advertiser",classification: Administration & Office Suppor...
560,Client Side Office Manager,https://www.seek.co.nz/job/50534335?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"19d ago,at,Private Advertiser",$40 - $45 per hour
623,Personal Assistant,https://www.seek.co.nz/job/50481163?type=stand...,NaN,location: AucklandAucklandarea: Manukau & East...,"28d ago,at,Private Advertiser",classification: Administration & Office Suppor...
656,Card Fulfillment Officer,https://www.seek.co.nz/job/50513472?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"24d ago,at,Private Advertiser","$45,000 - $54,999"

In [7]:
job_advertiser_missing = df_admin[df_admin['job_advertiser'].isnull()]
pri_adv = df_admin[df_admin['released_time'].str.contains("Private Advertiser")]
job_advertiser_missing.equals(pri_adv )

True

In [8]:
#approach 1: fill in missing value as 'unknown'
# df_admin.job_advertiser.fillna('unknown', inplace=True)
# df_admin.job_advertiser.isnull().sum()
#approach 2: most possible value: 通过观察看出job_advertiser NnN的都是released_time中包含private_advertiser的
df_admin.released_time.str.contains("Private Advertiser").sum()
#df_admin[df_admin['released_time'].str.contains("Private Advertiser")].equals(df_admin[df_admin['job_advertiser'].isnull()])
df_admin.job_advertiser.fillna('Private Advertiser', inplace=True)

22

In [9]:
df_admin.job_advertiser.isnull().sum()
df_admin.head()

0

,job_title,job_link,job_advertiser,location,released_time,classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [10]:
df_admin['job_advertiser'].value_counts()

Beyond Recruitment - Winner – Best Innovation –2018 Global Recruiter Awards    285
Asset Recruitment Ltd                                                          282
GBL Personnel                                                                  218
Alpha Recruitment - NZ                                                          76
Adecco Office                                                                   74
                                                                              ...
Saint Kentigern Trust                                                            1
Sikh Limited                                                                     1
Togethr 2020 Ltd                                                                 1
Extrastaff                                                                       1
Wilson Group                                                                     1
Name: job_advertiser, Length: 476, dtype: int64

## time_released

**正则表达式** refer to: https://www.w3schools.com/python/python_regex.asp

In [11]:
#extract info from "time_released" into "time_released" and "private advertiser"
#extract time,if contains number, return the number and the next character, otherwise return 0, i.e., treat "featrued" as 0
def extract_time(x):
    if re.match(r'(\d+[a-z])\s',x):
        return re.match(r'(\d+[a-z])\s',x).group(1)
    else:
        return 0
# extract_time('24d ago,at,Private Advertiser')
# extract_time('4d ago,at,Private Advertiser')
# extract_time('Featured,at,Private Advertiser')
# 新增‘time'这列而不是直接在原列上替代 【‘job advertiser'缺失值的第三种方法，即released_time分为三部分，用最后一部分补充JA的缺失值】
df_admin['time'] = df_admin.released_time.apply(extract_time)
df_admin.head()

,job_title,job_link,job_advertiser,location,released_time,classification,time
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,0
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,0
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,4d
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,1h
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,4d

In [12]:
df_admin.time.describe()
df_admin.groupby('time').size()

count     2708
unique      38
top        27d
freq       572
Name: time, dtype: object

time
0       22
10d     40
11d     39
11m      1
12d     41
13d     34
14d     93
16d      2
17d     33
18d     20
19d     21
1h       1
20d    164
21d     92
22d      5
23d      2
24d    115
25d    154
26d    295
27d    572
28d    433
29d      1
2d       3
2h       3
30d     71
3d      60
3h       1
4d     116
4h       4
59m      1
5d      55
5h       2
6d      70
7d     133
7m       2
8d       4
9d       2
9m       1
dtype: int64

In [13]:
# convert contents in 'time' into unified time with 'day' as a unified unit of measurement
# 'm' is treated as 'minute'
def convert_time(x):
    if 'd' not in x:
        return 0
    else:
        day = int(x[:-1])
        return day
        
# convert_time('0')
# convert_time('59m')
# convert_time('1h')
# convert_time('7d')
# convert_time('22d')
df_admin.time = df_admin.time.astype(str)
df_admin.time = df_admin.time.apply(convert_time)

In [14]:
df_admin.time.describe()
df_admin.groupby('time').size()

count    2708.000000
mean       20.723043
std         8.718609
min         0.000000
25%        14.000000
50%        26.000000
75%        27.000000
max        30.000000
Name: time, dtype: float64

time
0      38
2       3
3      60
4     116
5      55
6      70
7     133
8       4
9       2
10     40
11     39
12     41
13     34
14     93
16      2
17     33
18     20
19     21
20    164
21     92
22      5
23      2
24    115
25    154
26    295
27    572
28    433
29      1
30     71
dtype: int64

In [15]:
df_admin.head()

,job_title,job_link,job_advertiser,location,released_time,classification,time
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,0
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,0
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,4
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,0
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,4

## locations

In [16]:
#data cleaning for "location"
df_admin['location'][0 ]

'location: Bay of PlentyBay of Plentyarea: TaurangaTauranga'

In [17]:
len(df_admin.location.unique())

147

In [18]:
df_admin[['location', 'area']] = df_admin.location.str.split('area:', expand=True)
df_admin.head()

,job_title,job_link,job_advertiser,location,released_time,classification,time,area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plenty,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,0,TaurangaTauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plenty,"Featured,at",classification: Administration & Office Suppor...,0,TaurangaTauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,4,None
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthland,"1h ago,at",classification: Administration & Office Suppor...,0,InvercargillInvercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterbury,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,4,ChristchurchChristchurch

In [19]:
df_admin.location = df_admin.location.str.replace('location:','')

In [20]:
df_admin.location.unique()
len(df_admin.location.unique())

array([' Bay of PlentyBay of Plenty', ' AucklandAuckland',
       ' SouthlandSouthland', ' CanterburyCanterbury',
       ' NorthlandNorthland', ' WellingtonWellington',
       ' West CoastWest Coast', ' TasmanTasman', ' ManawatuManawatu',
       ' WaikatoWaikato', ' Hawkes BayHawkes Bay', ' OtagoOtago',
       ' TaranakiTaranaki', ' MarlboroughMarlborough',
       ' GisborneGisborne', ' WellingtonWellington,$75k - $85k p.a.',
       ' WellingtonWellington,Up to $22.00 p.h.',
       ' AucklandAuckland,$21 - $22 p.h. + 8% Holiday Pay',
       ' WellingtonWellington,$50k - $65k p.a. + plus kiwisaver',
       ' AucklandAuckland,$70-$80k+Super',
       ' WellingtonWellington,$20 - $30 per hour',
       ' WellingtonWellington,Attractive remuneration'], dtype=object)

22

In [21]:
df_admin[['location','locationN']] = df_admin.location.str.split(',', expand=True)

In [22]:
df_admin.drop('locationN', inplace=True, axis=1)
df_admin.head(2)

,job_title,job_link,job_advertiser,location,released_time,classification,time,area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,Bay of PlentyBay of Plenty,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,0,TaurangaTauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of PlentyBay of Plenty,"Featured,at",classification: Administration & Office Suppor...,0,TaurangaTauranga

In [23]:
df_admin.location.unique()
len(df_admin.location.unique())

array([' Bay of PlentyBay of Plenty', ' AucklandAuckland',
       ' SouthlandSouthland', ' CanterburyCanterbury',
       ' NorthlandNorthland', ' WellingtonWellington',
       ' West CoastWest Coast', ' TasmanTasman', ' ManawatuManawatu',
       ' WaikatoWaikato', ' Hawkes BayHawkes Bay', ' OtagoOtago',
       ' TaranakiTaranaki', ' MarlboroughMarlborough',
       ' GisborneGisborne'], dtype=object)

15

In [24]:
len(df_admin.area.unique())

135

In [25]:
#"area": some rows with salary info, delete these info
df_admin[['area','saTemp']] = df_admin.area.str.split(',',n=1, expand=True)

In [26]:
df_admin.drop('saTemp', inplace=True, axis=1)

In [27]:
len(df_admin.area.unique())

39

In [28]:
#remove the duplicated contents in "location", "area"
df_admin.location = df_admin.location.astype(str)
df_admin.area = df_admin.area.astype(str)
#approach1
# df_admin.location = df_admin.location.apply(deduplication)
# df_admin.area = df_admin.area.apply(deduplication)
#approach2
df_admin.location = df_admin.location.apply(deduplication_impr)
df_admin.area = df_admin.area.apply(deduplication_impr)

In [29]:
# final for "location" and "area"
df_admin.location.unique()
len(df_admin.location.unique())
df_admin.area.unique()
len(df_admin.area.unique())

array(['Bay of Plenty', 'Auckland', 'Southland', 'Canterbury',
       'Northland', 'Wellington', 'West Coast', 'Tasman', 'Manawatu',
       'Waikato', 'Hawkes Bay', 'Otago', 'Taranaki', 'Marlborough',
       'Gisborne'], dtype=object)

15

array(['Tauranga', 'None', 'Invercargill', 'Christchurch', 'Whangarei',
       'Wellington Central', 'Rotorua', 'Rest of West Coast', 'Nelson',
       'Manukau & East Auckland', 'Rest of Canterbury',
       'Timaru & South Canterbury', 'Auckland Central',
       'Rest of Manawatu', 'Papakura & Franklin', 'Rodney & North Shore',
       'Rest of Waikato', 'Hastings', 'Queenstown & Wanaka',
       'Rest of Otago', 'Hamilton', 'Hutt Valley', 'New Plymouth',
       'Palmerston North', 'Waitakere & West Auckland',
       'Rest of Taranaki', 'Dunedin', 'Rest of Bay of Plenty', 'Blenheim',
       'Thames & Coromandel', 'Rest of Tasman', 'Napier',
       'Rest of Hawkes Bay', 'Gisborne', 'Rest of Northland',
       'Porirua & Kapiti Coast', 'Rest of Wellington Region', 'Wanganui',
       'Taupo'], dtype=object)

39

In [30]:
df_admin['location'].value_counts()

Auckland         891
Wellington       854
Waikato          404
Canterbury       203
Bay of Plenty     93
Manawatu          92
Northland         78
Otago             40
Hawkes Bay        19
Taranaki          10
Tasman             8
Southland          7
Gisborne           4
Marlborough        4
West Coast         1
Name: location, dtype: int64

In [31]:
df_admin['area'].value_counts()

Auckland Central             751
None                         541
Hamilton                     318
Wellington Central           310
Christchurch                 184
Rest of Waikato               79
Rest of Northland             74
Rest of Manawatu              73
Manukau & East Auckland       56
Rotorua                       46
Rodney & North Shore          41
Tauranga                      38
Dunedin                       30
Palmerston North              17
Hutt Valley                   14
Timaru & South Canterbury     14
Waitakere & West Auckland     14
Papakura & Franklin           11
Hastings                       9
New Plymouth                   8
Rest of Bay of Plenty          8
Invercargill                   7
Nelson                         6
Napier                         6
Rest of Wellington Region      6
Queenstown & Wanaka            6
Thames & Coromandel            6
Porirua & Kapiti Coast         5
Rest of Canterbury             4
Rest of Otago                  4
Whangarei                      4
Gisborne                       4
Rest of Hawkes Bay             4
Blenheim                       3
Rest of Taranaki               2
Rest of Tasman                 2
Wanganui                       1
Rest of West Coast             1
Taupo                          1
Name: area, dtype: int64

## classification

In [32]:
df_admin['classification'][0:20 ]
len(df_admin.classification.unique())

0     classification: Administration & Office Suppor...
1     classification: Administration & Office Suppor...
2     classification: Administration & Office Suppor...
3     classification: Administration & Office Suppor...
4     classification: Administration & Office Suppor...
5     classification: Administration & Office Suppor...
6     classification: Administration & Office Suppor...
7     classification: Administration & Office Suppor...
8     classification: Administration & Office Suppor...
9     classification: Administration & Office Suppor...
10    classification: Administration & Office Suppor...
11    classification: Administration & Office Suppor...
12                                         $20 per hour
13    classification: Administration & Office Suppor...
14    classification: Administration & Office Suppor...
15    classification: Administration & Office Suppor...
16    classification: Administration & Office Suppor...
17                                $20 - $24.99 per hour
18    classification: Administration & Office Suppor...
19    classification: Administration & Office Suppor...
Name: classification, dtype: object

93

In [33]:
# extract 'salary' from 'classification'
def extract_salary(cl):
    if 'classification:' in cl:
        return 'unknown'
    else:
        return cl
extract_salary('$20 - $24.99 per hour')
print(extract_salary('classification: Administration & Office Suppor...'))

'$20 - $24.99 per hour'

unknown

In [34]:
df_admin['salary'] = df_admin.classification.apply(extract_salary)

In [35]:
df_admin.salary.describe()

count        2708
unique         85
top       unknown
freq         2105
Name: salary, dtype: object

In [36]:
# extract 'classification' from 'classification'
def extract_classification(cl):
    if 'classification:' in cl:    
        return cl
    else:
        return 'unknown'
df_admin.classification = df_admin.classification.apply(extract_classification)

In [37]:
df_admin.classification.unique()

array(['classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: Data Entry & Word ProcessingData Entry & Word Processing',
       'unknown',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: PA, EA & SecretarialPA, EA & Secretarial',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: Contracts AdministrationContracts Administration',
       'classification: Administration & Office SupportAdministration & Office SupportsubClassification: Records Management & Document ControlRecords Management & Document Control'],
      dtype=object)

In [38]:
df_admin.classification = df_admin.classification.str.replace('classification: ','')

In [39]:
df_admin[['classification', 'subclassification']] = df_admin.classification.str.split('subClassification:', expand=True)

In [40]:
df_admin.classification.unique()

array(['Administration & Office SupportAdministration & Office Support',
       'unknown'], dtype=object)

In [41]:
df_admin.subclassification.unique()

array([' Office ManagementOffice Management',
       ' ReceptionistsReceptionists', ' OtherOther',
       ' Administrative AssistantsAdministrative Assistants',
       ' Client & Sales AdministrationClient & Sales Administration',
       ' Data Entry & Word ProcessingData Entry & Word Processing', None,
       ' PA, EA & SecretarialPA, EA & Secretarial',
       ' Contracts AdministrationContracts Administration',
       ' Records Management & Document ControlRecords Management & Document Control'],
      dtype=object)

In [42]:
df_admin.classification = df_admin.classification.astype(str)
df_admin.classification = df_admin.classification.apply(deduplication_impr)

In [43]:
df_admin.classification.unique()

array(['Administration & Office Support', 'unknown'], dtype=object)

In [44]:
df_admin.subclassification = df_admin.subclassification.astype(str)
df_admin.subclassification = df_admin.subclassification.apply(deduplication_impr)

In [45]:
df_admin['classification'].value_counts()
df_admin['subclassification'].value_counts()

Administration & Office Support    2105
unknown                             603
Name: classification, dtype: int64

Administrative Assistants                715
None                                     603
PA, EA & Secretarial                     437
Client & Sales Administration            336
Receptionists                            196
Other                                    116
Office Management                        112
Contracts Administration                  99
Records Management & Document Control     81
Data Entry & Word Processing              13
Name: subclassification, dtype: int64

In [46]:
df_admin.subclassification.isnull().sum()

0

In [47]:
df_admin.head()

,job_title,job_link,job_advertiser,location,released_time,classification,time,area,salary,subclassification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,Bay of Plenty,"Featured,at,Private Advertiser",Administration & Office Support,0,Tauranga,unknown,Office Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,"Featured,at",Administration & Office Support,0,Tauranga,unknown,Receptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,"4d ago,at",Administration & Office Support,4,None,unknown,Other
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,"1h ago,at",Administration & Office Support,0,Invercargill,unknown,Administrative Assistants
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,Canterbury,"4d ago,at,Private Advertiser",Administration & Office Support,4,Christchurch,unknown,Client & Sales Administration

## 'salary'

In [48]:
df_admin['salary'].value_counts()
df_admin.groupby('salary').size()

unknown                                            2105
Competitive hourly rates $$                         280
Attractive remuneration                              70
Competitive hourly rate depending on experience      70
Competitive hourly rate                              70
                                                   ...
$60K - $80K experience dependent                      1
NZD75000 per annum                                    1
NZD25 - NZD28 per hour                                1
$50,000 - $64,999                                     1
$50,000 per annum.                                    1
Name: salary, Length: 85, dtype: int64

salary
$18.50 - $23.50 per hour                             1
$19 to $22 per hour                                  2
$20 - $24.99 per hour                               12
$20 - $24.99 per hour dependent on experience.       1
$20 - $25 per hour                                   1
                                                  ...
Up to $27ph                                          1
Up to $35 p.h. + 8% Holiday Pay                      1
bonus plus medical insurance                         1
incl Life & Health Insurance                         1
unknown                                           2105
Length: 85, dtype: int64

In [49]:
df_admin['salary'].unique()

array(['unknown', '$20 per hour', '$20 - $24.99 per hour',
       '$19 to $22 per hour', '$40,000 - $49,999', '$25 per hour',
       'Includes life and health insurance',
       '$60 000 - $70 000 per annum', '$20.00 per hour',
       '$55,000 - $69,999', '$20.00 per hour.', '$21 per hour',
       '$55,000 - $64,999', '$50,000 - $55,000 plus benefits',
       'incl Life & Health Insurance', '$45,000 - $49,999',
       '$55,000 - $60,000 per annum pro rata', '$48,835 - $63,221',
       '$20 - $29.99 per hour', '$24-$28', 'Up to $27ph',
       '8% holiday pay', '$45,000 - $59,999', 'NZD25 - NZD28 per hour',
       'Competitive Salary', '$22 per hour', 'NZD75000 per annum',
       '$75k - $85k p.a.', '$24 - $25 + 8% holiday pay!',
       '$50,000 per annum.', 'bonus plus medical insurance',
       '$20 - $25 per hour', 'Good salary',
       '$30 - $38 p.h. + 8% Holiday Pay', '$45-$55,000',
       '$50,000 - $54,999', 'Up to $23 p.h. + + 8% Holiday Pay',
       'Up to $22.00 p.h.',
       'NZD69,726-94,127p.a.+Retirement contributions',
       '$60k-$70k depending on experience!', '$22.00 - $23.00 phr',
       '$27 - $33 p.h. + 8% holiday pay',
       '$60K - $80K experience dependent',
       '$60 - $65k + Career Progression to QS / leadership',
       '$35 - $39.99 per hour',
       '$20 - $24.99 per hour dependent on experience.',
       'Up to $27 p.h. + 8% Holiday Pay', 'NZD19 - NZD23 per hour',
       '$60,000 pa', '$21 - $25 p.h. + 8% Holiday Pay',
       '$60,000 - $69,999', '$21-$23 per hour', '$50,000 - $59,999',
       '$40 - $45 per hour', '$18.50 - $23.50 per hour', '$25.5',
       'Up to $35 p.h. + 8% Holiday Pay',
       '$21 - $22 p.h. + 8% Holiday Pay', 'NZD25 - NZD30 per hour',
       '$25 - $29.99 per hour', 'Competitive', '$50,000 - $69,999',
       'Attractive salary neg.', '$50,000 - $64,999',
       '$20 - $40 per hour', '$48,000 - $55,000',
       '$50k - $65k p.a. + plus kiwisaver', '$70-$80k+Super',
       '$20 - $30 per hour', '$45,000 - $54,999',
       'Competitive hourly rate, experience dependent',
       '$55,000 - $65,000 depending on relevant experience',
       'Competitive salary + phone + parking!', '$70-75k per annum',
       'Competitive salary', '$45,000 - $55,000 depending on experience',
       '$24 - $28 p.h.  + 8% Holiday Pay',
       '$35 - $40 p.h. + + 8% Holiday Pay',
       '+ Car park, close to public transport', 'Circa 50k',
       'Send us your CV today!', 'Competitive hourly rates $$',
       'Competitive hourly rate depending on experience',
       'Attractive remuneration', 'Competitive hourly rate'], dtype=object)

In [50]:
len(df_admin['salary'].unique())

85

In [51]:
#convert 'salary'
# 没有数字的，认为是unknown
# 有数字的，提取数字并转为为以年为单位；划分为三档：Higher level, (75% quantile), average (50% quantile),lower_level (35% quantile)
# 没有数字的，认为是unknown
# unknown, 按high_level, average, lower_level比例随机分配： 20%，60%，20%，随机分配
##有数字的数据，特征：大部分按区间划分，hour/year为单位；
#1.没有区间的，认为上下限一致；
#2.有“+”的简便起见本次不考虑；【可能考虑，super按照比例加，holiday的按照天数算】
#3.以年薪计算,观察所见，时薪最高是45

In [52]:
# treat all rows without a number as 'unknown'
def convert_nonN(x):
    num = bool(re.search(r'\d', x))
    if num:
        return x
    else:
        return None
convert_nonN('$30 - $38 p.h. + 8% Holiday Pay')
convert_nonN('Competitive hourly rates $$ ')
convert_nonN('Up to $27ph')
convert_nonN('$45,000 - $55,000 depending on experience')
convert_nonN('8% Holiday Pay')

'$30 - $38 p.h. + 8% Holiday Pay'

'Up to $27ph'

'$45,000 - $55,000 depending on experience'

'8% Holiday Pay'

In [53]:
df_admin.salary = df_admin.salary.apply(convert_nonN)

In [54]:
df_admin.groupby('salary').size()
df_admin['salary'].unique()
len(df_admin['salary'].unique())

salary
$18.50 - $23.50 per hour                           1
$19 to $22 per hour                                2
$20 - $24.99 per hour                             12
$20 - $24.99 per hour dependent on experience.     1
$20 - $25 per hour                                 1
                                                  ..
Up to $22.00 p.h.                                  1
Up to $23 p.h. + + 8% Holiday Pay                  1
Up to $27 p.h. + 8% Holiday Pay                    1
Up to $27ph                                        1
Up to $35 p.h. + 8% Holiday Pay                    1
Length: 68, dtype: int64

array([None, '$20 per hour', '$20 - $24.99 per hour',
       '$19 to $22 per hour', '$40,000 - $49,999', '$25 per hour',
       '$60 000 - $70 000 per annum', '$20.00 per hour',
       '$55,000 - $69,999', '$20.00 per hour.', '$21 per hour',
       '$55,000 - $64,999', '$50,000 - $55,000 plus benefits',
       '$45,000 - $49,999', '$55,000 - $60,000 per annum pro rata',
       '$48,835 - $63,221', '$20 - $29.99 per hour', '$24-$28',
       'Up to $27ph', '8% holiday pay', '$45,000 - $59,999',
       'NZD25 - NZD28 per hour', '$22 per hour', 'NZD75000 per annum',
       '$75k - $85k p.a.', '$24 - $25 + 8% holiday pay!',
       '$50,000 per annum.', '$20 - $25 per hour',
       '$30 - $38 p.h. + 8% Holiday Pay', '$45-$55,000',
       '$50,000 - $54,999', 'Up to $23 p.h. + + 8% Holiday Pay',
       'Up to $22.00 p.h.',
       'NZD69,726-94,127p.a.+Retirement contributions',
       '$60k-$70k depending on experience!', '$22.00 - $23.00 phr',
       '$27 - $33 p.h. + 8% holiday pay',
       '$60K - $80K experience dependent',
       '$60 - $65k + Career Progression to QS / leadership',
       '$35 - $39.99 per hour',
       '$20 - $24.99 per hour dependent on experience.',
       'Up to $27 p.h. + 8% Holiday Pay', 'NZD19 - NZD23 per hour',
       '$60,000 pa', '$21 - $25 p.h. + 8% Holiday Pay',
       '$60,000 - $69,999', '$21-$23 per hour', '$50,000 - $59,999',
       '$40 - $45 per hour', '$18.50 - $23.50 per hour', '$25.5',
       'Up to $35 p.h. + 8% Holiday Pay',
       '$21 - $22 p.h. + 8% Holiday Pay', 'NZD25 - NZD30 per hour',
       '$25 - $29.99 per hour', '$50,000 - $69,999', '$50,000 - $64,999',
       '$20 - $40 per hour', '$48,000 - $55,000',
       '$50k - $65k p.a. + plus kiwisaver', '$70-$80k+Super',
       '$20 - $30 per hour', '$45,000 - $54,999',
       '$55,000 - $65,000 depending on relevant experience',
       '$70-75k per annum', '$45,000 - $55,000 depending on experience',
       '$24 - $28 p.h.  + 8% Holiday Pay',
       '$35 - $40 p.h. + + 8% Holiday Pay', 'Circa 50k'], dtype=object)

69

In [55]:
df_admin.salary = df_admin.salary.str.replace(',','')

In [56]:
df_admin.salary = df_admin.salary.str.replace('to','-',regex=True)

In [57]:
#数字中间有空格的情况
df_admin.salary = df_admin.salary.str.replace(r'(\d+)\s(\d+)', r'\1\2', regex=True)
#另一个思路，先把上下限split出来

In [58]:
df_admin['salary'].unique()
len(df_admin['salary'].unique())

array([None, '$20 per hour', '$20 - $24.99 per hour',
       '$19 - $22 per hour', '$40000 - $49999', '$25 per hour',
       '$60000 - $70000 per annum', '$20.00 per hour', '$55000 - $69999',
       '$20.00 per hour.', '$21 per hour', '$55000 - $64999',
       '$50000 - $55000 plus benefits', '$45000 - $49999',
       '$55000 - $60000 per annum pro rata', '$48835 - $63221',
       '$20 - $29.99 per hour', '$24-$28', 'Up - $27ph', '8% holiday pay',
       '$45000 - $59999', 'NZD25 - NZD28 per hour', '$22 per hour',
       'NZD75000 per annum', '$75k - $85k p.a.',
       '$24 - $25 + 8% holiday pay!', '$50000 per annum.',
       '$20 - $25 per hour', '$30 - $38 p.h. + 8% Holiday Pay',
       '$45-$55000', '$50000 - $54999',
       'Up - $23 p.h. + + 8% Holiday Pay', 'Up - $22.00 p.h.',
       'NZD69726-94127p.a.+Retirement contributions',
       '$60k-$70k depending on experience!', '$22.00 - $23.00 phr',
       '$27 - $33 p.h. + 8% holiday pay',
       '$60K - $80K experience dependent',
       '$60 - $65k + Career Progression - QS / leadership',
       '$35 - $39.99 per hour',
       '$20 - $24.99 per hour dependent on experience.',
       'Up - $27 p.h. + 8% Holiday Pay', 'NZD19 - NZD23 per hour',
       '$60000 pa', '$21 - $25 p.h. + 8% Holiday Pay', '$60000 - $69999',
       '$21-$23 per hour', '$50000 - $59999', '$40 - $45 per hour',
       '$18.50 - $23.50 per hour', '$25.5',
       'Up - $35 p.h. + 8% Holiday Pay',
       '$21 - $22 p.h. + 8% Holiday Pay', 'NZD25 - NZD30 per hour',
       '$25 - $29.99 per hour', '$50000 - $69999', '$50000 - $64999',
       '$20 - $40 per hour', '$48000 - $55000',
       '$50k - $65k p.a. + plus kiwisaver', '$70-$80k+Super',
       '$20 - $30 per hour', '$45000 - $54999',
       '$55000 - $65000 depending on relevant experience',
       '$70-75k per annum', '$45000 - $55000 depending on experience',
       '$24 - $28 p.h.  + 8% Holiday Pay',
       '$35 - $40 p.h. + + 8% Holiday Pay', 'Circa 50k'], dtype=object)

69

In [59]:
df_admin[['min_salary', 'max_salary'] ] = df_admin.salary.str.split('-', n=1, expand=True)

In [60]:
df_admin['min_salary'].unique()
len(df_admin['min_salary'].unique())
df_admin['max_salary'].unique()
len(df_admin['max_salary'].unique())

array([None, '$20 per hour', '$20 ', '$19 ', '$40000 ', '$25 per hour',
       '$60000 ', '$20.00 per hour', '$55000 ', '$20.00 per hour.',
       '$21 per hour', '$50000 ', '$45000 ', '$48835 ', '$24', 'Up ',
       '8% holiday pay', 'NZD25 ', '$22 per hour', 'NZD75000 per annum',
       '$75k ', '$24 ', '$50000 per annum.', '$30 ', '$45', 'NZD69726',
       '$60k', '$22.00 ', '$27 ', '$60K ', '$60 ', '$35 ', 'NZD19 ',
       '$60000 pa', '$21 ', '$21', '$40 ', '$18.50 ', '$25.5', '$25 ',
       '$48000 ', '$50k ', '$70', 'Circa 50k'], dtype=object)

44

array([None, ' $24.99 per hour', ' $22 per hour', ' $49999',
       ' $70000 per annum', ' $69999', ' $64999', ' $55000 plus benefits',
       ' $60000 per annum pro rata', ' $63221', ' $29.99 per hour', '$28',
       ' $27ph', ' $59999', ' NZD28 per hour', ' $85k p.a.',
       ' $25 + 8% holiday pay!', ' $25 per hour',
       ' $38 p.h. + 8% Holiday Pay', '$55000', ' $54999',
       ' $23 p.h. + + 8% Holiday Pay', ' $22.00 p.h.',
       '94127p.a.+Retirement contributions',
       '$70k depending on experience!', ' $23.00 phr',
       ' $33 p.h. + 8% holiday pay', ' $80K experience dependent',
       ' $65k + Career Progression - QS / leadership', ' $39.99 per hour',
       ' $24.99 per hour dependent on experience.',
       ' $27 p.h. + 8% Holiday Pay', ' NZD23 per hour',
       ' $25 p.h. + 8% Holiday Pay', '$23 per hour', ' $45 per hour',
       ' $23.50 per hour', ' $35 p.h. + 8% Holiday Pay',
       ' $22 p.h. + 8% Holiday Pay', ' NZD30 per hour', ' $40 per hour',
       ' $55000', ' $65k p.a. + plus kiwisaver', '$80k+Super',
       ' $30 per hour', ' $65000 depending on relevant experience',
       '75k per annum', ' $55000 depending on experience',
       ' $28 p.h.  + 8% Holiday Pay', ' $40 p.h. + + 8% Holiday Pay'],
      dtype=object)

50

### min_salary

In [61]:
#df_admin['min_salary'] = df_admin['min_salary'].str.replace(r'k', r'000',case=False)
df_admin.min_salary = df_admin.min_salary.str.replace(r'(\d+)k', r'\1000',case=False,regex=True)

In [62]:
df_admin['min_salary'].unique()
len(df_admin['min_salary'].unique())
#有个问题：'$60''$70'这个其实是‘70k',在split的时候忽略了'k'
#解决：直接替换；或者转化统一单位时处理（这里适用因为按小时计算的最大45）

array([None, '$20 per hour', '$20 ', '$19 ', '$40000 ', '$25 per hour',
       '$60000 ', '$20.00 per hour', '$55000 ', '$20.00 per hour.',
       '$21 per hour', '$50000 ', '$45000 ', '$48835 ', '$24', 'Up ',
       '8% holiday pay', 'NZD25 ', '$22 per hour', 'NZD75000 per annum',
       '$@0 ', '$24 ', '$50000 per annum.', '$30 ', '$45', 'NZD69726',
       '$@0', '$22.00 ', '$27 ', '$60 ', '$35 ', 'NZD19 ', '$60000 pa',
       '$21 ', '$21', '$40 ', '$18.50 ', '$25.5', '$25 ', '$48000 ',
       '$70', 'Circa @0'], dtype=object)

42

In [63]:
#df_admin.min_salary = df_admin.min_salary.str.replace('70','70000')
#df_admin[df_admin.min_salary.str.contains (r'\$70')]

In [64]:
#r"\d+\.?\d*"
#去掉数字中间的space
# df_admin.min_salary = df_admin.min_salary.str.replace(r'(\d+)\s(\d+)', r'\1\2', regex=True)
# df_admin.min_salary.unique()
# len(df_admin['min_salary'].unique())

In [65]:
def extract_num(x):
    #问题： .\d+\.?\d*. 不对？？？
    #[^0-9]*(\d+\.*\d*)[^0-9]*'
#     if re.match(r'.\d+\.?\d*.',x):
#         return re.match(r'.(\d+\.?\d*.)',x).group(1)
#     else:
#         return 'unknown'
    if re.match(r'[^0-9]*(\d+\.*\d*)[^0-9]*',x):
        return re.match(r'[^0-9]*(\d+\.*\d*)[^0-9]*',x).group(1)
    else:
        return 'unknown'
extract_num('$20 per hour')
extract_num('$18.50')
extract_num('Circa 50000')
extract_num('NZD19')
extract_num('$50000 per annum.')
extract_num('$60 ')
extract_num('Up ')
extract_num('unknown')
extract_num('Up - $23 p.h. + + 8% Holiday Pay')

'20'

'18.50'

'50000'

'19'

'50000'

'60'

'unknown'

'unknown'

'23'

In [66]:
df_admin.min_salary = df_admin.min_salary.astype(str)
df_admin.min_salary = df_admin.min_salary.apply(extract_num)

In [67]:
df_admin.min_salary.unique()
len(df_admin['min_salary'].unique())

array(['unknown', '20', '19', '40000', '25', '60000', '20.00', '55000',
       '21', '50000', '45000', '48835', '24', '8', '22', '75000', '0',
       '30', '45', '69726', '22.00', '27', '60', '35', '40', '18.50',
       '25.5', '48000', '70'], dtype=object)

29

In [68]:
def convert_annual(x):
    if x == 'unknown':
        return 'unknown'
    else:
        x = float(x)
        if x <= 8:                 
            return 'unknown'
        elif 8 < x < 50:           #hourly
            return x * 8 * 260      #working 8 hours a day, and 260 days a year
        elif x == 60 or x == 70:    # $60''$70'这个其实是‘k',在split的时候忽略了元数据中上下限没统一单位的情况
            return x * 1000
        else:
            return x
convert_annual('unknown')
convert_annual('50000')
convert_annual('60')
convert_annual('70')
convert_annual('8')
convert_annual('40')

'unknown'

50000.0

60000.0

70000.0

'unknown'

83200.0

In [69]:
df_admin.min_salary = df_admin.min_salary.apply(convert_annual)

In [70]:
df_admin['min_salary'].unique()
len(df_admin['min_salary'].unique())
df_admin.groupby('min_salary').size()

array(['unknown', 41600.0, 39520.0, 40000.0, 52000.0, 60000.0, 55000.0,
       43680.0, 50000.0, 45000.0, 48835.0, 49920.0, 45760.0, 75000.0,
       62400.0, 93600.0, 69726.0, 56160.0, 72800.0, 83200.0, 38480.0,
       53040.0, 48000.0, 70000.0], dtype=object)

24

min_salary
38480.0       1
39520.0       3
40000.0       5
41600.0      22
43680.0       4
45000.0       5
45760.0       2
48000.0       1
48835.0       1
49920.0       4
50000.0       8
52000.0       5
53040.0       1
55000.0       7
56160.0       1
60000.0       4
62400.0       1
69726.0       1
70000.0       2
72800.0       3
75000.0       1
83200.0       1
93600.0       1
unknown    2624
dtype: int64

## max_salary

In [71]:
df_admin['max_salary'].unique()
len(df_admin['max_salary'].unique())

array([None, ' $24.99 per hour', ' $22 per hour', ' $49999',
       ' $70000 per annum', ' $69999', ' $64999', ' $55000 plus benefits',
       ' $60000 per annum pro rata', ' $63221', ' $29.99 per hour', '$28',
       ' $27ph', ' $59999', ' NZD28 per hour', ' $85k p.a.',
       ' $25 + 8% holiday pay!', ' $25 per hour',
       ' $38 p.h. + 8% Holiday Pay', '$55000', ' $54999',
       ' $23 p.h. + + 8% Holiday Pay', ' $22.00 p.h.',
       '94127p.a.+Retirement contributions',
       '$70k depending on experience!', ' $23.00 phr',
       ' $33 p.h. + 8% holiday pay', ' $80K experience dependent',
       ' $65k + Career Progression - QS / leadership', ' $39.99 per hour',
       ' $24.99 per hour dependent on experience.',
       ' $27 p.h. + 8% Holiday Pay', ' NZD23 per hour',
       ' $25 p.h. + 8% Holiday Pay', '$23 per hour', ' $45 per hour',
       ' $23.50 per hour', ' $35 p.h. + 8% Holiday Pay',
       ' $22 p.h. + 8% Holiday Pay', ' NZD30 per hour', ' $40 per hour',
       ' $55000', ' $65k p.a. + plus kiwisaver', '$80k+Super',
       ' $30 per hour', ' $65000 depending on relevant experience',
       '75k per annum', ' $55000 depending on experience',
       ' $28 p.h.  + 8% Holiday Pay', ' $40 p.h. + + 8% Holiday Pay'],
      dtype=object)

50

In [72]:
df_admin.max_salary = df_admin.max_salary.str.replace('k', '000',case=False)

In [73]:
df_admin['max_salary'].unique()
len(df_admin['max_salary'].unique())

array([None, ' $24.99 per hour', ' $22 per hour', ' $49999',
       ' $70000 per annum', ' $69999', ' $64999', ' $55000 plus benefits',
       ' $60000 per annum pro rata', ' $63221', ' $29.99 per hour', '$28',
       ' $27ph', ' $59999', ' NZD28 per hour', ' $85000 p.a.',
       ' $25 + 8% holiday pay!', ' $25 per hour',
       ' $38 p.h. + 8% Holiday Pay', '$55000', ' $54999',
       ' $23 p.h. + + 8% Holiday Pay', ' $22.00 p.h.',
       '94127p.a.+Retirement contributions',
       '$70000 depending on experience!', ' $23.00 phr',
       ' $33 p.h. + 8% holiday pay', ' $80000 experience dependent',
       ' $65000 + Career Progression - QS / leadership',
       ' $39.99 per hour', ' $24.99 per hour dependent on experience.',
       ' $27 p.h. + 8% Holiday Pay', ' NZD23 per hour',
       ' $25 p.h. + 8% Holiday Pay', '$23 per hour', ' $45 per hour',
       ' $23.50 per hour', ' $35 p.h. + 8% Holiday Pay',
       ' $22 p.h. + 8% Holiday Pay', ' NZD30 per hour', ' $40 per hour',
       ' $55000', ' $65000 p.a. + plus 000iwisaver', '$80000+Super',
       ' $30 per hour', ' $65000 depending on relevant experience',
       '75000 per annum', ' $55000 depending on experience',
       ' $28 p.h.  + 8% Holiday Pay', ' $40 p.h. + + 8% Holiday Pay'],
      dtype=object)

50

In [74]:
extract_num('75000 per annum')
extract_num( '$28 p.h.  + 8% Holiday Pay')
extract_num(' $40 p.h. + + 8% Holiday Pay')
extract_num('94127p.a.+Retirement contributions')
extract_num(' $23.00 phr')

'75000'

'28'

'40'

'94127'

'23.00'

In [75]:
df_admin.max_salary = df_admin.max_salary.astype(str)
df_admin.max_salary = df_admin.max_salary.apply(extract_num)

In [76]:
df_admin['max_salary'].unique()
len(df_admin['max_salary'].unique())

array(['unknown', '24.99', '22', '49999', '70000', '69999', '64999',
       '55000', '60000', '63221', '29.99', '28', '27', '59999', '85000',
       '25', '38', '54999', '23', '22.00', '94127', '23.00', '33',
       '80000', '65000', '39.99', '45', '23.50', '35', '30', '40',
       '75000'], dtype=object)

32

In [77]:
df_admin.max_salary = df_admin.max_salary.apply(convert_annual)

In [78]:
df_admin['max_salary'].unique()
len(df_admin['max_salary'].unique())

array(['unknown', 51979.2, 45760.0, 49999.0, 70000.0, 69999.0, 64999.0,
       55000.0, 60000.0, 63221.0, 62379.2, 58240.0, 56160.0, 59999.0,
       85000.0, 52000.0, 79040.0, 54999.0, 47840.0, 94127.0, 68640.0,
       80000.0, 65000.0, 83179.2, 93600.0, 48880.0, 72800.0, 62400.0,
       83200.0, 75000.0], dtype=object)

30

### min/max salary unknown

In [79]:
df_admin[['min_salary', 'max_salary']][(df_admin['min_salary'] == 'unknown') & (df_admin['max_salary'] != 'unknown')]

    min_salary max_salary
156    unknown      56160
306    unknown      85000
403    unknown      47840
405    unknown      45760
442    unknown      70000
459    unknown      80000
503    unknown      56160
578    unknown      72800
644    unknown      65000

In [ ]:
#df_admin.min_salary[(df_admin['min_salary'] == 'unknown') & (df_admin['max_salary'] != 'unknown')] = df_admin.max_salary

In [ ]:
#df_admin.iloc[156]['min_salary']

In [ ]:
#df_admin[['min_salary', 'max_salary']][(df_admin['max_salary'] == 'unknown') & (df_admin['min_salary'] != 'unknown')]

In [ ]:
#df_admin.max_salary[(df_admin['min_salary'] != 'unknown') & (df_admin['max_salary'] == 'unknown')] = df_admin.min_salary

In [ ]:
#df_admin.iloc[12]['max_salary']

In [80]:
min_salaryValued = df_admin['min_salary'].unique()[1:]

In [81]:
minMax = min_salaryValued.max()
minMin = min_salaryValued.min()
minAver = round(min_salaryValued.mean(),0)
minMax
minMin
minAver

93600.0

38480.0

56249.0

In [82]:
max_salaryValued = df_admin['max_salary'].unique()[1:]
maxMax = max_salaryValued.max()
maxMin = max_salaryValued.min()
maxAver = round(max_salaryValued.mean(),0)
maxMax
maxMin
maxAver

94127.0

45760.0

65981.0

In [84]:
df_admin.head(20)

,job_title,job_link,job_advertiser,location,released_time,classification,time,area,salary,subclassification,min_salary,max_salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,Bay of Plenty,"Featured,at,Private Advertiser",Administration & Office Support,0,Tauranga,None,Office Management,unknown,unknown
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,"Featured,at",Administration & Office Support,0,Tauranga,None,Receptionists,unknown,unknown
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,"4d ago,at",Administration & Office Support,4,None,None,Other,unknown,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,"1h ago,at",Administration & Office Support,0,Invercargill,None,Administrative Assistants,unknown,unknown
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,Canterbury,"4d ago,at,Private Advertiser",Administration & Office Support,4,Christchurch,None,Client & Sales Administration,unknown,unknown
5,Support Officer,https://www.seek.co.nz/job/50640393?type=stand...,Ministry for Primary Industries,Northland,"9m ago,at",Administration & Office Support,0,Whangarei,None,Administrative Assistants,unknown,unknown
6,Support Officer,https://www.seek.co.nz/job/50615674?type=stand...,"Ministry of Business, Innovation and Employment",Wellington,"5d ago,at",Administration & Office Support,5,Wellington Central,None,Other,unknown,unknown
7,office administrator,https://www.seek.co.nz/job/50640166?type=stand...,Hepburn Electrical Ltd,Bay of Plenty,"7m ago,at",Administration & Office Support,0,Rotorua,None,Administrative Assistants,unknown,unknown
8,Office Administrator,https://www.seek.co.nz/job/50639248?type=stand...,Webster Holland Ltd,Bay of Plenty,"2h ago,at",Administration & Office Support,0,Tauranga,None,Administrative Assistants,unknown,unknown
9,Administration Officer,https://www.seek.co.nz/job/50629393?type=stand...,New Zealand Police,Canterbury,"3d ago,at",Administration & Office Support,3,None,None,Other,unknown,unknown
10,Administration Officer,https://www.seek.co.nz/job/50600186?type=stand...,Department of Conservation,West Coast,"7d ago,at",Administration & Office Support,7,Rest of West Coast,None,Administrative Assistants,unknown,unknown
11,Data Entry,https://www.seek.co.nz/job/50616188?type=stand...,Triple One Care,Tasman,"5d ago,at",Administration & Office Support,5,Nelson,None,Data Entry & Word Processing,unknown,unknown
12,Office Admin Assistant (10hrs per week),https://www.seek.co.nz/job/50597141?type=stand...,UIV Limited - Premier Insulation North Central,Auckland,"8d ago,at",unknown,8,Manukau & East Auckland,$20 per hour,None,41600,unknown
13,Office Administrator,https://www.seek.co.nz/job/50632818?type=stand...,Wraight and Associates Ltd.,Wellington,"3d ago,at",Administration & Office Support,3,Wellington Central,None,Office Management,unknown,unknown
14,Office Administrator,https://www.seek.co.nz/job/50632185?type=stand...,Morgan & Pollard Landscapes Ltd,Canterbury,"3d ago,at",Administration & Office Support,3,Rest of Canterbury,None,Administrative Assistants,unknown,unknown
15,Customer Service Officer,https://www.seek.co.nz/job/50614282?type=stand...,CM Trailer Parts,Canterbury,"5d ago,at",Administration & Office Support,5,Timaru & South Canterbury,None,Client & Sales Administration,unknown,unknown
16,Administration Assistant - Mt Wellington,https://www.seek.co.nz/job/50638817?type=stand...,Harvey Norman,Auckland,"4h ago,at",Administration & Office Support,0,Auckland Central,None,Administrative Assistants,unknown,unknown
17,Part-time Health & Disability Administrative A...,https://www.seek.co.nz/job/50610748?type=stand...,LIFEWISE,Auckland,"6d ago,at",unknown,6,Auckland Central,$20 - $24.99 per hour,None,41600,51979.2
18,"Office Coordinator, Whangarei Youth Space",https://www.seek.co.nz/job/50633756?type=stand...,Whangarei Youth Space,Northland,"3d ago,at",Administration & Office Support,3,Whangarei,None,Administrative Assistants,unknown,unknown
19,Administrator,https://www.seek.co.nz/job/50604829?type=stand...,Private Advertiser,Manawatu,"7d ago,at,Private Advertiser",Administration & Office Support,7,Rest of Manawatu,None,Other,unknown,unknown

In [ ]:
df_admin.to_excel('NZ_Admin_JOBS1.xlsx')